[run]
source =
    src/python/tik/core
    src/python/tik/maya
    src/python/tik/shared
    src/python/tik/tools
    src/python/tik/trigger

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
